* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
main{
  background-color: lightsteelblue
}
.container {
  width: 100;
  margin: 0 auto;
  padding: 0 30px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.menu-bar {
  display: flex;
  height: 60px;
  align-items: center;
}
.menu-bar li {
  list-style: none;
  margin: 10px;
  font-weight: 600px;
}
.menu-bar li a {
  padding: 15px 15px;
}
#tools {
  margin-top: 15px;
}

.fa-shopping-cart {
  padding: 15px 15px;
}
.first-section {
  display: flex;
  padding-top: 60px;
  align-items: center;
}
.first-section img {
  width: 400px;
  padding-right: 30px;
}
span {
  color: red;
}
.view {
  text-decoration: none;
  background-color: darkmagenta;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 400px;
}
.camera {
  padding-left: 30px;
}
}
.first-para {
  padding-right: 10px;
  display: block;
}
.fa-arrow-right {
  padding-left: 5px;
}
.first-photo{
    overflow: hidden;
    margin: 30px;
    padding: 30px;
}
.first-photo:hover .photo{
    transform: scale(1.5);
}
h2{
    text-align: center;
    margin: 50px;
    padding: 50px;
    color: sienna;
}

.gears .gear-banner img{
  width: 224px;
  height: 120px;
}
.tools{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  margin-left: 100px;
  padding: 20px;
}
.gears{
  text-align: center;
  width: 380px;
  height: 330px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px gray;
}
.see-more{
text-align: right;
padding-right: 140px;
}

.audio{
  display: flex;
  position: relative;
  margin-left: 700px;
  width: 350px;
  box-shadow: 10px 5px 10px gray;
  background-color: aliceblue;
  padding-left: 10px;
}
.media{
  text-align: center;
  padding-bottom: 40px;
}
#sound{
  text-align: center;
}
.audio .lipa{
  position: relative;
  width: 100%;
  height: 300px;
  padding: 20px;
}
.audio .lipa img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.audio audio{
  width: 100%;
}
footer{
  width: 100%;
  height: 190px;
  background-color: darkslateblue;
  color: whitesmoke;
  padding-top: 10px;
}
.tag{
  padding-top: 30px;
  font-size: 35px;
  text-align: center;
}
p{
  padding-top: 5px;
  text-align: center;
  display: block;
}
.icons{
  padding-top: 5px;
  text-align: center;
  padding-bottom: 10px;
}

/* mobile device */
@media only screen and (max-width: 576px){
  main{
    width: 100%;
    padding: 30px 0;
    margin: 0 0;
    
  }
 
 .container{
   grid-template-columns: repeat(1. 1fr);
 }
  .container{
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 8px 12px;
    flex-direction: column;
    align-items: center;
  }
  .first-section{
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    align-items: center;
  }
  .camera .first-head{
    text-align: center;
  }
  .first-para{
    text-align: center;
    padding-right: 20px;
  }
  .view{
    align-items: center;
  }
  .first-section img{
    padding-left: 30px;
  }
  .second-section{
    grid-template-columns: repeat(1, 1fr);
    padding: 10 20px;
  }
  .tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }
  .media{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}