body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.menu-bar {
  display: flex;
  height: 60px;
  align-items: center;
}
.menu-bar li {
  list-style: none;
  margin: 10px;
}
#tools {
  margin-top: 32px;
}
