* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.menu-bar {
  display: flex;
  height: 60px;
  align-items: center;
}
.menu-bar:hover {
  color: blue;
}
.menu-bar li {
  list-style: none;
  margin: 10px;
  font-weight: 600px;
}
.menu-bar li a {
  padding: 15px 15px;
}
#tools {
  margin-top: 15px;
}
#tools:hover {
  color: blue;
}
.fa-shopping-cart {
  padding: 15px 15px;
}
.first-section {
  display: flex;
  padding-top: 60px;
  align-items: center;
}
.first-section img {
  width: 400px;
  padding-right: 30px;
}
span {
  color: red;
}
.view {
  text-decoration: none;
  background-color: darkmagenta;
  color: whitesmoke;
  padding: 10px 40px;
  border-radius: 15px;
  font-weight: 400px;
}
.camera {
  padding-left: 30px;
}
}
.first-para {
  padding-right: 10px;
  display: block;
}
.fa-arrow-right {
  padding-left: 5px;
}
.first-photo{
    overflow: hidden;
    margin: 30px;
    padding: 30px;
}
.first-photo:hover .photo{
    transform: scale(1.5);
}
h2{
    text-align: center;
    margin: 50px;
    padding: 50px;
    color: sienna;
}

.gears .gear-banner img{
  width: 224px;
  height: 120px;
}
.tools{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  margin-left: 100px;
  padding: 20px;
}
.gears{
  width: 380px;
  height: 330px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px gray;
}
